 @keyframes divAn {
    0%   {margin-left: 36.33%;}
    100% {margin-left: 3%;}
    }
    @keyframes divAn2 {
    0%   {margin-left: 69.66%;}
    100% {margin-left: 3%;}
    }
    @keyframes divAnB1{
    0%   {margin-left: 3%;}
    100% {margin-left: 36.33%;}
    }
    @keyframes divAnB2{
    0%   {margin-left: 3%;}
    100% {margin-left: 69.66%;}
    }
    header{
        background-color: whitesmoke;
        height: 150px;
        border-bottom-style: solid;
         }
    section{
        width: 100%;
        height: 100%;
        float: left;
    }
    .secText1{
       float:right;
    }
    .secText2{
        float:left;
    }
    
    .imglink{
        width: 100%;
        min-width: 300px;
        margin-top: 5px;
    }
    .divlink{
        min-width: 300px;
        width: 27.33%;
        float: left;
        margin: 3%;
        border-top-style: solid;
        border-bottom-style: solid;
        border-top-width: 5px;
        border-bottom-width: 5px;
        background-color: whitesmoke;
    }
    .divlink2{
        min-width: 300px;
        width: 27.33%;
        float: right;
        margin: 3%;
        border-top-style: solid;
        border-bottom-style: solid;
        border-top-width: 5px;
        border-bottom-width: 5px;
        background-color: whitesmoke;
    }
    .protitL{
        font-size: 32px;
        width: 100%;
        margin-top: 3%;
        margin-left: 3%;
        border-bottom-style: solid;
        border-bottom-width: 1px;
    }
    .protexL{
        margin-left: 3%;
        font-size: 20px;
    }
    .protitR{
        font-size: 32px;
        width: 100%;
        margin-top: 3%;
        margin-right: 3%;
        border-bottom-style: solid;
        border-bottom-width: 1px;
    }
    .protexR{
        margin-right: 3%;
        font-size: 20px;
        
    }
    .proLink{
        font-size: 25px;
        margin-left: 3%;
    }
    .proLinkR{
        font-size: 25px;
        margin-right: 3%;
    }
    .grade{
       
    
       
       
    }
    .gradeDiv{
        width: 300px;
        float:left;
        margin-right: 30px;
    }
    .gradeImg{
        height: 30px;
        float: right;
    }
    .gradeTex{
        height: 30px;
        float: left;
        font-size: 30px;
        margin: 0;
    }
    
    #divport{
        width: 33%;
        height: 100%;  
        float: left;
    }
    #divtitle{
        float: left;
        width: 33%;
        height: 100%;
    }
    #divcont{
        float: left;
        width: 33%;
        height: 100%;
    }
    #port{
        float: left;
        height: 100%;
         }
    #contact{
        padding-top: 20px;
        text-align: right;
         }
    #pdf{
        width: 60%;
        height:495px;
    }
    #title{
        font-size: 40px;
        padding-top: 20px;
        text-align: center;    
    }
    
    #secTitle{
        font-size: 32px;
        width: 100%;
        margin-top: 3%;
        margin-right: 3%;
        border-bottom-style: solid;
        border-bottom-width: 1px;
    }
    #proTitle{
        width: 100%;
        font-size: 40px;
        padding-top: 20px;
        text-align: center;  
        border-bottom-style: solid;
        border-bottom-width: 2px;   
    }
    #skillTit{
        margin-bottom: 4px;
    }
    .prog{
        width: 100%;
        margin-bottom: 0px;
    }
    
    #myDiv{
        width: 100%;
        height: 100%;    
    }
    #lorem{
        
        margin-right: 3%;
        font-size: 20px;
    }
    #A1{
    height: 40px;
    width:  40px;
    position:absolute;
    left: 29.1%;
    top: 30%;
    visibility: hidden;
    }
    footer{
        background-color: whitesmoke;
        padding: 10px;
        float: left;
        width: 100%;
        text-align: center;
        position: relative;
        bottom: 0;